name: Newman Run

on: [push, pull_request]

jobs:
   build:

    runs-on: ubuntu-latest
  
  
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Run API Tests
      id: run-newman
      uses: anthonyvscode/newman-action@v1
      with:
        collection: collection.json
        reporters: cli

    - name: Output summary to console
      run: newman run "postman_collection.json"  


